 

 
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  text-decoration: none;
}

:root {
  //COLOR
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  //BOX-SHADOW note: write '0,0,0' instead of 'black'
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --line: 1px solid var(--color-grey-light-2);
}

//BREAKPOINTS
//1em = 16px

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 32.75em; //500px

html {
  font-size: 62.5%; //1rem = 10px   10/16 = 62.5%

  @media only screen and (max-width: $bp-large) {
    font-size: 56.25%; //1rem = 9px
  }
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-primary-light)
  );
  background-repeat: no-repeat;
}
